<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MQTT Node.js Publisher</title>
    <link rel="stylesheet" href="/assets/publisher/publisher.css" />
  </head>
  <body>
    <h1>MQTT Node.js</h1>
    <h2>Publisher</h2>
    <div class="line"></div>
    <form method="post" action="/publisher" id="publishForm">
      <ul class="wrapper">
        <li class="form-row">
          <label for="topic">Topic</label>
          <% if (topic === 'internacional') { %>
            <input type="text" id="topic" name="topic" value="internacional" readonly />
          <% } else if (topic === 'secretaria') { %>
            <input type="text" id="topic" name="topic" value="secretaria" readonly />
          <% } else if (topic === 'cpr') { %>
            <input type="text" id="topic" name="topic" value="cpr" readonly />
          <% } else if (topic === 'direcao') { %>
            <input type="text" id="topic" name="topic" value="direcao" readonly />
          <% } else if (topic === 'biblioteca') { %>
            <input type="text" id="topic" name="topic" value="biblioteca" readonly />
          <% } else { %>
            <input type="text" id="topic" name="topic" />
          <% } %>
        </li>
        <li class="form-row">
          <label for="message">Message</label>
          <input type="text" id="message" name="message" />
        </li>
        <li class="form-row">
          <button type="submit" class="publish">Publish</button>
        </li>
      </ul>
    </form>
    <script src="/assets/publisher/publisher.js"></script>
  </body>
</html>
